<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Turnero</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'input_cedula' %}">Ticketero</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'select_box' %}">Agente</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'caller' %}">Llamador</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Administrador</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <h4 class="display-5 fw-bold">Bienvenido</h4>
            <div class="mx-auto">
                <div class="card bg-light mb-3 tarjeta" style="max-width: 18rem;">
                    <div class="card-header">Su número de ticket es:  </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ ticket }}</h5>
                        <p class="card-text">En breve uno de nuestros agentes lo llamará. Gracias por su visita!</p>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary mb-2" onclick="location.href='{% url 'input_cedula' %}'">Volver</button>
    </div>
</header>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>