<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Turnero</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-lg-5">
    <a class="navbar-brand" href="#!">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'input_cedula' %}">Ticketero</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'select_box' %}">Agente</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'caller' %}">Llamador</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Administrador</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header-->
<header class="py-1">
  <div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <h4 class="display-5 fw-bold">Bienvenido</h4>
      <h5>Usted se encuentra actualmente</h5>
      <div id="mostrar_accion"></div>
    </div>
  </div>
  <input type="text" id="ticket_id" style="visibility: hidden;"/>
</header>
<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-5">
    <div class="row gx-lg-5">
      <div class="col-lg-3 col-xxl-4 mb-3"></div>
      <div class="col-lg-5 col-xxl-4 mb-3">
        <button type="button" id="llamar" class="btn btn-info">Llamar</button>
        <button type="button" id="atender" class="btn btn-success">Atender</button>
        <button type="button" id="terminar" class="btn btn-danger">Finalizar</button>
      </div>
      <div class="col-lg-4 col-xxl-4 mb-3"></div>
    </div>
    <div class="row gx-lg-5">
      <div id="slct_servicios" class="col-lg-6 col-xxl-6 mb-3">
        <h5>Derivar a: </h5>
        <ul>
          {% for x in servicios %}
          <li>
            <input type='radio' name='servicio' value="{{x.id}}">{{ x }}</input>
          </li>
          {% endfor %}
        </ul>
        <input type="radio" name="servicio" value="0" style="visibility: hidden;" checked>
      </div>
      <div class="col-lg-6 col-xxl-6 mb-1">
        <button type="button" id="derivar" class="btn btn-warning">Enviar ticket</button>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script language="javascript" type="text/javascript">
      let box_id = {{ box }};
      let action = "none";

      $("button").click(function() {
          let called_action = this.id;
          let serv = 0;
          var getSelectedValue = document.querySelector(
                'input[name="servicio"]:checked');
          if (getSelectedValue.value)
            serv = getSelectedValue.value

          $.ajax({
            url : "{% url 'vista_agente' box 'none' %}",
            data : {
              'pk' : box_id,
              'action': called_action,
              'servicio' : serv
            },
            dataType: "json",
            method : 'POST',
            success : function(resp) {
              console.log(resp);
              $('#mostrar_accion').html(resp.estado + " " +resp.ticket_str);
            }
          });
      });
  </script>
<!-- Core theme JS-->


</body>
</html>